@font-face {
    font-family: brandon-grotesque;
    src:url("/assets/brandon-black.otf");
}

@font-face {
    font-family: brandon-medium;
    src:url("/assets/brandon-medium.otf");
}

/* -------------------------- HEADER --------------------------  */

header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8));
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 10;
    position: absolute;
}

.header-nav {
    height: 60px;
    padding-left: 65px;
    padding-right: 65px;
}

#studio-logo {
    width: calc(17% - 20px);
    cursor: pointer;
}

.nav-button-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 25px;
    float: right;
    margin-right: 0
}

.nav-button:hover {
    color: #e7cb30;
}

.nav-burger-menu {
    display: none;
    background: none;
    cursor: pointer;
    float: right;
    width: 50px;
    height: 50px;
    border: none;
}

@media (max-width: 1010px) {
    .nav-burger-menu {
        display: block;
    }
    .nav-button-list {
        display: none;
    }
    #studio-logo {
        width: 200px;
    }
    header {
        padding-top: 20px
    }
}

#yellow {
    color: #e7cb30;
}

/* -------------------------- BODY --------------------------  */

body, header, a {
    margin: 0;
    font-family: "brandon-grotesque", "helvetica neue", "helvetica", sans-serif;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

.main-container {
    width: 100%;
    height: 6000px;
    position: relative;
    overflow: hidden;
}

.intro-container {
    background-image: url("/assets/theforest_hero.jpg");
    background-size: cover;
    width: 100%;
    height: 800px;
    position: absolute;
    transform:scale(1.1);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.logo-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 100px;
    gap: 13px
}

#game-logo {
    width: 330px;
}

#info-text {
    width: 470px;
    text-align: center;
    font-size: 24px;
    font-family: brandon-medium, sans-serif;
}

#buy-button {
    font-size: 14px;
    color: #e7cb30;
    font-family: brandon-medium, sans-serif;
    border: thin solid #e7cb30;
    padding: 10px 40px 10px 40px;
}

#buy-button:hover {
    background-color: #e7cb30;
    color: #494309;
}