@font-face {
    font-family: brandon-black;
    src:url("/assets/brandon-black.otf");
}

@font-face {
    font-family: brandon-medium;
    src:url("/assets/brandon-medium.otf");
}

@font-face {
    font-family: brandon-bold;
    src:url("/assets/brandon-bold.otf");
}

* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------------------------- HEADER -----------------------------------------------------------------  */
/* -----------------------------------------------------------------------------------------------------------------------------------------  */

header {
    width: 100%;
    min-height: 10vh;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8));
    padding-top: 60px;
    padding-bottom: 60px;
    z-index: 10;
    position: fixed;
}

#header-nav {
    min-height: 60px;
    padding-left: 65px;
    padding-right: 65px;
}

#studio-logo {
    width: calc(17% - 20px);
    cursor: pointer;
}

#hamburger-icon {
    min-height: 50px;
    width: 50px;
}

#nav-button-list {
    font-size: 1.1rem;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 25px;
    float: right;
    margin-right: 0
}

.nav-button:hover {
    color: #e7cb30;
}

#nav-burger-menu {
    display: none;
    background: none;
    cursor: pointer;
    float: right;
    width: 50px;
    min-height: 50px;
    border: none;
}

@media (max-width: 1010px) {
    #nav-burger-menu {
        display: block;
    }
    #nav-button-list {
        display: none;
    }
    #studio-logo {
        width: 200px;
    }
    header {
        padding-top: 20px
    }
}

#yellow {
    color: #e7cb30;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------------------------- BODY -----------------------------------------------------------------  */
/* ---------------------------------------------------------------------------------------------------------------------------------------  */

body, header, a {
    font-family: brandon-black, sans-serif;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

#description-container:before, #screenshot-gallery-background:before, #video-gallery:before {
    content: "";
    display: inline-block;
    background-image: url("/assets/texture-white-top-2.png");
    background-size: contain;
    background-position: 50% 100%;
    position: absolute;
    background-repeat: repeat-x;
    transform: translateY(-150%);
    width: 100%;
    min-height: 68px;
}

#video-gallery:before {
    background-image: url("/assets/texture-black-top.png");
    transform: translateY(-100%);
}

#description-container:after {
    content: "";
    display: inline-block;
    background-image: url("/assets/texture-white-bottom.png");
    background-size: contain;
    background-position: 100% 15%;
    position: absolute;
    background-repeat: repeat-x;
    transform: translateY(50%);
    width: 100%;
    min-height: 68px;
    z-index: 2;
}

/* ----------------------------- HERO -----------------------------  */

#main-container {
    width: 100%;
    min-height: 8000px;
    position: relative;
    overflow: hidden;
}

#intro-container {
    background-image: url("/assets/theforest_hero.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    transform: scale(1.1);
}

#logo-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 40px;
    gap: 35px
}

#game-logo {
    width: 330px;
}

#info-text {
    width: 35ch;
    text-align: center;
    font-size: 1.5rem;
    font-family: brandon-medium, sans-serif;

}

@media (max-width: 520px) {
    #info-text {
        width: 430px;
    }
}

#buy-button {
    font-size: 0.9rem;
    color: #e7cb30;
    font-family: brandon-black, sans-serif;
    border: 2px solid #e7cb30;
    padding: 15px 40px 15px 40px;
}

#buy-button:hover {
    background-color: #e7cb30;
    color: #494309;
}

/* ----------------------------- GAME INFORMATION -----------------------------  */

#description-container {
    color: black;
    width: 100%;
    min-height: 900px;
    background-color: #ffffff;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    z-index: 2;
}

#availability-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 300px;
}

#available-for-text:before {
    content: "";
    border-top: 3px solid rgba(233,233,233,0.55);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4vh;
    max-width: 80px;
}

#available-for-text {
    color: black;
    margin-bottom: 50px;
    font-size: 1.7rem;
}

#store-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 45px;
}

.store-img {
    width: 13.5vw;
    cursor: pointer;
}

#steam-logo {
    height: 95%;
}

#description-text-container {
    position: relative;
    top: 4vh;
    color: black;
    display: flex;
    gap: 40px;
    max-width: 100ch;
    min-height: 40vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.description-paragraph {
    font-family: brandon-medium, sans-serif;
    font-size: 1.20rem;
    letter-spacing: 0.05rem;
    margin-bottom: 35px;
}

.description-header {
    margin-bottom: 20px;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    font-family: brandon-medium, sans-serif;
}

.bold-span {
    font-family: brandon-black, sans-serif;
}

/* ----------------------------- TRAILER -----------------------------  */

#video-background {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 40px;
    position: relative;
    background-image: url("/assets/tree-chopping.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    transform: scale(1.15);
}

#player-count-container {
    display: flex;
    align-items: baseline;
    max-width: 1200px;
    width: 100%;
    gap: 2px;
    min-height: 10vh;
    z-index: 3;
}

.player-count-element {
    transform: scale(0.8);
}

#count {
    background-color: #e7cb30;
    padding: 10px 10px;
    font-size: 1.6rem;
    color: black;
    margin-bottom: 40px;
}

#steam-icon {
    position: relative;
    top: 8px
}

#trailer-3 {
    display: block;
    border: none;
    width: 35vw;
    min-height: 40vh;
    margin: 0 auto;
}

#review-containers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    font-family: brandon-medium, sans-serif;
    font-size: 1.4rem;
}

.review-text {
    margin-top: 7px;
}
#right-review-text {
    width: 50%;
}

#left-review-container {
    padding-right: 25px;
}

#right-review-container {
    padding-left: 30px;
}

#review-divider {
    width: 3px;
    min-height: 100%;
    background-color: #545454;
}

/* ----------------------------- SCREENSHOT GALLERY -----------------------------  */

#screenshot-gallery-background {
    background-color: white;
    position: relative;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 200px;
    background-image: url("/assets/splatter-yellow-white.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#screenshot-gallery-header:before, #video-gallery-header:before {
    content: "";
    border-top: 3px solid rgba(233,233,233,0.55);
    display: block;
    margin-bottom: 4vh;
    max-width: 80px;
}

#screenshot-gallery-header {
    color: black;
    margin-bottom: 25px;
    margin-left: 2px;
    font-family: brandon-medium, sans-serif;
}

#gallery-items {
    display: flex;
    gap: 20px;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.screenshot-gallery-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    width: calc(35% - 35px);
}

/* ----------------------------- VIDEO GALLERY -----------------------------  */

#video-gallery {
    position: relative;
    width: 100vw;
    min-height: 120vh;
    background-color: black;
}

#video-gallery-header {
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding-top: 100px;
    font-family: brandon-medium, sans-serif;
}

#video-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
    gap: 20px;
}

.video-gallery-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-trailer {
    width: 30%;
}