@font-face {
    font-family: brandon-black;
    src:url("/assets/brandon-black.otf");
}

@font-face {
    font-family: brandon-medium;
    src:url("/assets/brandon-medium.otf");
}

* {
    margin: 0;
    padding: 0;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------------------------- HEADER -----------------------------------------------------------------  */
/* -----------------------------------------------------------------------------------------------------------------------------------------  */

header {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.8));
    padding: 60px 0 60px 0;
    z-index: 10;
    position: fixed;
}

#header-nav {
    max-width: 1800px;
    padding-left: 65px;
    padding-right: 65px;
    margin: 0 auto;
}

#studio-logo {
    width: 290px;
    cursor: pointer;
}

#hamburger-icon {
    width: 50px;
}

#nav-button-list {
    font-size: 1.1rem;
    list-style-type: none;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    float: right;
    gap: 25px;
    margin-right: 0
}

.nav-button:hover {
    color: #e7cb30;
}

#nav-burger-menu {
    display: none;
    background: none;
    cursor: pointer;
    float: right;
    width: 50px;
    border: none;
}

@media (max-width: 1930px) {
    header {
        padding: 35px 0 35px 0;
    }
}

@media (max-width: 1210px) {
    #studio-logo {
        width: 180px;
    }
}

@media (max-width: 1085px) {
    #nav-burger-menu {
        display: block;
    }
    #nav-button-list {
        display: none;
    }
    #studio-logo {
        width: 200px;
    }
    header {
        padding-top: 20px
    }
    #header-nav {
        padding: 0 20px;
    }
}

@media (max-width: 520px) {
    #studio-logo {
        width: 100px;
    }
    #hamburger-icon {
        width: 30px;
    }
}

#yellow {
    color: #e7cb30;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------  */
/* ----------------------------------------------------------------- BODY -----------------------------------------------------------------  */
/* ---------------------------------------------------------------------------------------------------------------------------------------  */

body, header, a {
    font-family: brandon-black, sans-serif;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.03em;
    line-height: 1.5;
}

#description-container:before, #screenshot-gallery-background:before, #video-gallery:before, #studio-info-background:before, footer:before {
    content: "";
    display: inline-block;
    background-image: url("/assets/texture-white-top-2.png");
    background-size: contain;
    background-position: 50% 100%;
    position: absolute;
    background-repeat: repeat-x;
    transform: translateY(-150%);
    width: 100%;
    min-height: 68px;
}

#video-gallery:before {
    background-image: url("/assets/texture-black-top.png");
    transform: translateY(-150%);
}

#studio-info-background:before {
    background-image: url("/assets/texture-yellow-top.png");
    transform: translateY(-245%);
}

footer:before {
    background-image: url("/assets/trees-texture-grey-top.png");
    transform: translateY(-165%);
    background-position: 28% bottom;
}

#description-container:after, #video-gallery:after {
    content: "";
    display: inline-block;
    background-image: url("/assets/texture-white-bottom.png");
    background-size: contain;
    background-position: 100% 15%;
    position: absolute;
    background-repeat: repeat-x;
    transform: translateY(105%);
    width: 100%;
    z-index: 2;
    min-height: 68px;
}

#video-gallery:after {
    background-image: url("/assets/texture-black-bottom.png");
    transform: translateY(130%);
}

/* ----------------------------- HERO -----------------------------  */

#main-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#intro-container {
    background-image: url("/assets/theforest_hero.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 100vh;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;

    padding: 100px 0 100px 0;
    box-sizing: border-box;

    transform: scale(1.1);
}

#logo-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-sizing: border-box;
    padding: 0 100px 40px 100px;
    gap: 35px
}

#game-logo {
    width: 330px;
}

@media (max-width: 390px) {
    #game-logo {
        width: 250px;
    }
}

#info-text {
    width: 765px;
    text-align: center;
    font-size: 1.5rem;
    font-family: brandon-medium, sans-serif;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

@media (max-width: 650px) {
    #info-text {
        width: 430px;
    }
}

#buy-button {
    font-size: 0.9rem;
    color: #e7cb30;
    font-family: brandon-black, sans-serif;
    border: 2px solid #e7cb30;
    padding: 15px 40px 15px 40px;
}

#buy-button:hover {
    background-color: #e7cb30;
    color: #494309;
}

/* ----------------------------- GAME INFORMATION -----------------------------  */

#description-container {
    color: black;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    padding-top: 40px;
    padding-bottom: 80px;
    z-index: 2;
}

#availability-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

#available-for-text:before {
    content: "";
    border-top: 3px solid rgba(233,233,233,0.55);
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4vh;
    max-width: 80px;
}

#available-for-text {
    color: black;
    margin: 0 auto 50px auto;
    text-align: center;
    font-size: 1.7rem;
}

#store-list {
    margin: 0 auto 50px auto;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 45px;
}

@media (max-width: 975px) {
    #store-list {
        display: block;
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
        box-sizing: border-box;
        padding: 0 100px 0 100px;
    }
    .store-img {
        margin: 20px auto 20px auto;
    }
    #available-for-text {
        margin: 0 auto 25px auto;
        font-size: 1.9rem;
    }
}

@media (max-width: 400px) {
    .store-img {
        width: 100%;
    }
}

.store-img {
    max-width: 190px;
    cursor: pointer;
}

#steam-logo {
    height: 95%;
}

#description-text-container {
    position: relative;
    top: 4vh;
    color: black;
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    gap: 40px;
}

@media (max-width: 630px) {
    #description-text-container {
        flex-flow: column nowrap;
    }
}

.description-paragraph {
    font-family: brandon-medium, sans-serif;
    font-size: 1.20rem;
    letter-spacing: 0.05rem;
    margin-bottom: 35px;
}

.description-header {
    margin-bottom: 20px;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    font-family: brandon-medium, sans-serif;
}

.bold-span {
    font-family: brandon-black, sans-serif;
}

/* ----------------------------- TRAILER -----------------------------  */

.trailer-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#video-background {
    gap: 40px;
    position: relative;
    background-image: url("/assets/tree-chopping.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    transform: scale(1.15);

    padding: 250px 0;
}

#player-count-container {
    display: flex;
    align-items: baseline;
    justify-content: left;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    padding: 0 100px 30px 100px;
}

.player-count-element {
    margin: 0 10px 0 10px;
}

#count {
    background-color: #e7cb30;
    padding: 10px 10px;
    font-size: 1.35rem;
    color: black;
    margin-left: 0;
}

#players-in-game-text {
    font-size: .75rem;
}

#steam-icon {
    position: relative;
    top: 8px
}

#trailer-3 {
    display: block;
    box-sizing: border-box;

    max-width: 1100px;
    padding: 0 100px;
}

@media (max-width: 600px) {
    #trailer-3 {
        padding: 0 30px;
        max-width: 400px;
    }
    #player-count-container {
        padding: 0 30px 30px 30px;
        max-width: 400px;
    }
    #players-in-game-text {
        font-size: .65rem;
    }
}

#review-containers {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    font-family: brandon-medium, sans-serif;
    font-size: 1.4rem;

    padding: 50px 100px 0 100px;
}

.review-text {
    margin-top: 7px;
}

#left-review-container {
    padding-right: 80px;
}

#right-review-container {
    width: 55%;
    padding-left: 30px;
}

#review-divider {
    width: 3px;
    background-color: #545454;
}

@media (max-width: 800px) {
    #review-divider {
        display: none;
    }
    #review-containers {
        flex-direction: column;
        gap: 60px;
        padding: 50px 100px 0 100px;
        width: 100%;
    }
    #left-review-container {
        padding: 0;
    }

    #right-review-container {
        padding: 0;
        width: 100%;
    }
}

@media (max-width: 600px) {
    #review-containers {
        flex-direction: column;
        gap: 60px;
        padding: 50px 30px 0 30px;
        width: 100%;
        max-width: 400px;
    }
}

/* ----------------------------- SCREENSHOT GALLERY -----------------------------  */

#screenshot-gallery-background {
    background-color: white;
    position: relative;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 200px;
    background-image: url("/assets/splatter-yellow-white.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

#screenshot-gallery-header:before, #video-gallery-header:before, #updates-header:before {
    content: "";
    border-top: 3px solid rgba(233,233,233,0.55);
    display: block;
    margin-bottom: 4vh;
    max-width: 80px;
}

#screenshot-gallery-header {
    color: black;
    margin-bottom: 25px;
    margin-left: 2px;
    font-family: brandon-medium, sans-serif;
}

#gallery-items {
    display: flex;
    gap: 20px;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}

.screenshot-gallery-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

.gallery-item {
    width: calc(35% - 35px);
}

@media (max-width: 1000px) {
    .gallery-item {
        width: calc(50% - 10px);
        max-width: 800px;
    }
    .screenshot-gallery-container {
        padding: 0 50px 0 50px;
    }
}

@media (max-width: 600px) {
    .gallery-item {
        width: 100%;
        max-width: 600px;
    }
    .screenshot-gallery-container {
        padding: 0 25px 0 25px;
    }
}

/* ----------------------------- VIDEO GALLERY -----------------------------  */

#video-gallery {
    position: relative;
    width: 100vw;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: black;
}

#video-gallery-header {
    font-size: 1.6rem;
    padding-top: 100px;
    font-family: brandon-black, sans-serif;
    width: 100%;

    max-width: 1200px;
    margin: 0 auto 50px auto;
}

.video-gallery-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.gallery-trailer {
    width: 32.5%;
    height: 220px;
    border: 0;
}

@media (max-width: 1150px) {
    .video-gallery-container {
        padding-left: 50px;
        padding-right: 50px;
    }
    .gallery-trailer {
        height: 600px;
        margin-bottom: 50px;
        width: 100%;
    }
}

@media (max-width: 950px) {
    .gallery-trailer {
        height: 500px;
        margin-bottom: 20px;
    }
}
@media (max-width: 800px) {
    .gallery-trailer {
        height: 350px;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .gallery-trailer {
        height: 250px;
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .gallery-trailer {
        height: 150px;
        margin-bottom: 15px;
    }
}

/* ----------------------------- PATCH NOTES -----------------------------  */

#patch-notes-background {
    background-image: url("/assets/hangingcannibal.png");
    background-position: center center;
    background-size: cover;
    padding: 150px 0 150px 0;

    font-family: brandon-medium, sans-serif;
    font-style: normal;
}

.patch-notes-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 100px 0 100px;
}

#patch-notes-header {
    padding-bottom: 50px;
    max-width: 1400px;
    font-family: brandon-black, sans-serif;
    font-size: 1.25rem;
}

#updates-header {
    display: inline;
}

#view-all-button {
    color: #e7cb30;
    font-size: .9rem;
    display: inline;
    position: relative;
    bottom: 4px;
    padding-left: 30px;
}

#patch-notes-holder {
    box-sizing: border-box;

    display: flex;
    gap: 50px;
    flex-flow: row wrap;
    max-width: 1400px;
}

.patch-note {
    width: 47.5%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    #patch-notes-holder {
        display: block;
    }
    .patch-note {
        margin: 0 0 50px 0;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .patch-notes-container {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.patch-note-dates {
    color: #545454;
    font-size: .9rem;
    font-family: brandon-black, sans-serif;
}

.patch-note-headers {
    padding: 5px 0;
    margin: 10px 0 30px 0;
    background-color: #e7cb30;
    width: 130px;
    box-sizing: border-box;

    color: black;
    text-align: center;
    font-family: brandon-black, sans-serif;
}

.note, .note-greeting {
    font-size: 1.35rem;
}

.note-greeting {
    padding-bottom: 40px;
}

.note-ver {
    padding-top: 40px;
}

#note-ver-bottom-margin {
    padding-bottom: 20px;
}

#patch-notes-page-selector {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 100px 0 100px;
    box-sizing: border-box;

    font-size: 1.1rem;
}

#page-num {
    display: inline;
    padding-right: 20px;
}

#next-page-arrows {
    display: inline;
    color: #e7cb30;
    clip: rect(1px 1px 1px 1px);
    overflow: hidden;
    background-color: #1d1d1d;
    padding: 7px 10px 7px 10px;
    border-radius: 50%;
    font-size: .8rem;
}

/* ----------------------------- STUDIO INFO / JOB OPENINGS -----------------------------  */

#studio-info-background {
    background-color: #e7cb30;
    color: #514813;
    padding: 100px 0 150px 0;

    font-family: brandon-medium, sans-serif;
}

#studio-info-holder {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 100px 0 100px;
    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 10px;
}

#yellow-studio-logo {
    background-image: url("/assets/logo-yellow.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
}

#studio-description-container {
    width: 300px;
    height: 100px;
}

#studio-description {
    font-size: 1.2rem;
    width: 300px;
}

.job-button {
    background-color: transparent;
    border-color: #514813;
    padding: 15px 40px 15px 40px;

    font-family: brandon-black, sans-serif;
    font-size: 1rem;
    color: #514813;
    height: 56px;
}

@media (max-width: 1070px) {
    #studio-info-holder {
        flex-flow: column nowrap;
    }
    #studio-description {
        margin: 0 auto;
        text-align: center;
    }
    #yellow-studio-logo {
        background-position: center center;
        width: 250px;
        height: 100px;
        margin: 0 auto;
    }
    .studio-info-container {
        padding-bottom: 20px;
    }
    #studio-info-holder {
        padding: 0 10px 0 10px;
    }
}

.italic-span {
    font-style: italic;
}

/* ----------------------------- FOOTER -----------------------------  */

footer {
    padding: 50px 0 200px 0;
    background-color: #222222;
}

#footer-container {
    max-width: 1500px;
    padding: 0 50px 0 50px;
    margin: 0 auto;
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-flow: row nowrap;
}

#footer-studio-logo {
    background-image: url("/assets/endnight-logo.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 25%;
    width: 185px;
    height: 75px;
    margin-right: 50px;
}

#footer-company-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin-right: 75px;
}

#footer-game-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin-left: 75px;
}

.footer-link {
    color: #545454;
}

#footer-social-media {
    background-image: url("/assets/social-media-logos.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 32px;
    margin-left: auto;
}

#footer-credit {
    font-family: brandon-medium, sans-serif;
    font-size: 1.07rem;
    text-align: right;
    display: flex;
    flex-flow: column nowrap;
    margin-left: auto;
}

#credit {
    margin-top: 30px;
}

.footer-gray {
    color: #545454;
}

.gray-span {
    color: #5b5b5b;
    font-family: brandon-black, sans-serif;
}

@media (max-width: 1070px) {
    footer:before {
        transform: translateY(-240%);
    }
    footer {
        padding: 100px 0 50px 0;
    }
    #footer-container {
        max-width: 1500px;
        padding: 0 25px 0 25px;

        display: flex;
        flex-flow: column nowrap;
    }
    #footer-studio-logo {
        margin: 0 auto 20px auto;
    }
    #footer-company-info {
        margin: 0 auto 50px auto;
        text-align: center;
    }
    #footer-game-info {
        margin: 0 auto 50px auto;
        text-align: center;
    }
    #footer-social-media {
        background-position: center center;
        margin: 0 auto 50px auto;
    }
    #footer-credit {
        margin-left: unset;
        text-align: center;
    }
}